/*min-h-full grid grid-rows-[min-content_auto_min-content] grid-cols-1 bg-background-darker*/
.mobile_wrapper {
    min-height: 100%;

    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 1fr;
}

.top_bar {
    padding: 1rem;
}

.search_input_wrapper {

}

.search_input {
    display: block;

    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    font-size: var(--md-sys-typescale-body-large-size);

    height: 2.5rem;
    width: 90%;

    border: none;
    border-radius: 20px;

    margin-inline: auto;
    padding: 0 1rem;
}

.search {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-surface-container-high);

    overflow: auto;
}

.active_search_input_section {
    display: flex;

    gap: 2rem;

    padding: 0 2rem;

    height: 3.5rem;
    width: 100%;
}

.active_search_button {
    background-color: inherit;

    border: none;

    padding: 0;

    font-size: 30px;
}

.active_search_input {
    background-color: inherit;

    flex-grow: 1;

    height: 100%;

    border: none;
    outline: none;
}

.active_search_break {
    margin: 0;
}

.list_item {
    padding: 0.5rem 1rem;
}

.modal {
    top: 1rem;
    margin: 0;
    margin-inline: auto;
    width: 90%;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--md-sys-color-surface-container-high);
}

.modal::backdrop {
    background-color: transparent;
}