.mobile {
    display: grid;
    grid-template-rows: min-content auto;

    max-width: 100dvw;
    min-height: 100dvh;
}

.desktop {
    display: grid;
    grid-template-columns: min-content auto;

    min-height: 100dvh;
}

.desktop_sidebar {
    /* I case of problems use position fixed */
    position: sticky;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 6rem;
    max-height: 100dvh;

    background-color: var(--md-sys-color-surface);

    /* ToDo: Variable for all z index values */
    z-index: 9;
}

/*.content_mobile {
    max-width: 100vw;
}*/

/* --- */

.modal {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    height: 100%;
    /*width: 85%;*/
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--md-sys-color-surface-container);
}

.modal::backdrop {
    background-color: var(--md-palette-neutral-20);
    opacity: 0.4;
}

.top_bar {
    position: sticky;
    background-color: var(--md-sys-color-surface);
    top: 0;
    padding: 1rem;
}

.input_wrapper {
    position: relative;

    width: 90%;

    margin-inline: auto;
}

.search {
    display: block;

    font-family: inherit;
    font-size: var(--md-sys-typescale-body-large-size);

    width: 100%;

    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);

    anchor-name: --cusom-anchor;

    height: 3.5rem;

    outline: none;
    border: none;
    border-radius: 2rem;
    /*box-shadow: var(--md-sys-elevation-level3);*/

    padding: 0 3.5rem;

    &::placeholder {
        color: var(--md-sys-color-on-surface-variant);
    }
}

.open_search {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: 1px solid var(--md-sys-color-secondary);
}

.trailing_icon {
    position: absolute;

    top: 0;
    right: 1rem;

    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    pointer-events: none; /* allows clicking input */
}

.trailing_icon_style {
    color: var(--md-sys-color-on-surface-variant);
}

.leading_icon {
    position: absolute;

    top: 0;
    left: 1rem;

    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.leading_icon_style {
    color: var(--md-sys-color-on-surface);

    outline: none;
    border: none;

    background-color: inherit;

    padding: 0.25rem;
}

.docked_container {
    position: absolute;

    /* Add variable */
    z-index: 10;

    position-anchor: --cusom-anchor;
    top: anchor(bottom);
    left: anchor(left);

    background-color: var(--md-sys-color-surface-container-high);

    width: 100%;

    box-shadow: var(--md-sys-elevation-level3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search_list {
    /*padding: 0.25rem 0;*/
}

.break_line {
    border-bottom: 1px solid var(--md-sys-color-secondary);
}

.search_list_item {
    display: block;

    width: 100%;

    background-color: inherit;
    border: none;

    padding: 1rem 1rem;

    text-align: start;

    &:hover {
        background-color: var(--md-sys-color-surface-container-low);
    }
}

.has_last_list_element {
    &:last-of-type {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.navigation_rail {
    padding: 0 4rem 0 1.25rem;
}

.navigation_item {
    display: flex;
    height: 3.5rem;

    background-color: inherit;
    border: none;
    padding: 0 1rem;

    align-items: center;

    font-family: inherit;

    gap: 0.75rem;

    border-radius: 2rem;
}

.active_navigation_item {
    background-color: var(--md-palette-secondary-90);
}

.navigation_item_icon {
    font-size: 1.5rem;
    color: var(--md-palette-neutral-30);
}

.navigation_item_text {
    display: block;
    font-size: var(--md-sys-typescale-body-medium-size);
    color: var(--md-palette-neutral-30);
}

.desktop_nav_rail_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--md-sys-color-on-surface-variant);
}

.link {
    padding: 0.1rem 0;
    text-decoration: none;

    &:hover {
        .desktop_nav_icon {
            border-radius: 20px;
            background-color: rgb(from var(--md-sys-color-on-secondary-container) r g b / 8%);
        }
    }
}

.active_link {
    .desktop_nav_icon {
        border-radius: 20px;
        background-color: var(--md-sys-color-secondary-container);
    }
}

.desktop_nav_icon {
    display: block;
    padding: 0.3rem 1rem;

    color: var(--md-sys-color-on-surface-variant);
}
