.mobile {
    display: grid;
    grid-template-rows: min-content auto;

    max-width: 100dvw;
    min-height: 100dvh;
}

.desktop {
    display: grid;
    grid-template-columns: min-content auto;

    min-height: 100dvh;
}

.desktop_sidebar {
    /* I case of problems use position fixed */
    position: sticky;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 6rem;
    max-height: 100dvh;

    background-color: var(--md-sys-color-surface);

    /* ToDo: Variable for all z index values */
    z-index: var(--md-sys-elevation-index1);
}

/*.content_mobile {
    max-width: 100vw;
}*/

/* --- */

.modal {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    height: 100%;
    width: 60%;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--md-sys-color-surface-container);
}

.modal::backdrop {
    background-color: var(--md-palette-neutral-20);
    opacity: 0.4;
}

.top_bar {
    position: sticky;
    background-color: var(--md-sys-color-surface);
    top: 0;
    padding: 1rem 0.5rem;
    /* Ensure dropdowns inside the top bar are painted above transformed elements (canvas) */
    z-index: var(--md-sys-elevation-index1);
}

.mobile_search_back_button {
    background-color: transparent;
    width: 24px;
    height: 24px;
}

.mobile_search {
    border: none;
    outline: none;
    flex-grow: 1;
    height: 5.5rem;
    padding: 1rem 0;
    background-color: var(--md-sys-color-surface);
    font-family: inherit;
}

.search_dialog {
    background-color: var(--md-sys-color-surface);

    height: 100%;
    width: 100%;
    max-height: none;
    max-width: none;
    margin: 0;
    border: none;
    padding: 0;

    &[open] {
        animation: expand-rect 0.35s ease forwards;
    }
}

.search_open_block {
    padding: 0 1rem;

    display: flex;
    align-items: center;

    gap: 1rem;

    /*border-bottom: 1px solid black;*/
}

.input_wrapper {
    display: grid;
    grid-template-columns: 56px auto 56px;

    grid-gap: 0.5rem;
}

.search {
    display: block;

    font-family: inherit;
    font-size: var(--md-sys-typescale-body-large-size);

    width: 100%;

    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);

    anchor-name: --cusom-anchor;

    height: 3.5rem;

    outline: none;
    border: none;
    border-radius: 2rem;
    /*box-shadow: var(--md-sys-elevation-level3);*/

    padding: 0 3.5rem;

    &::placeholder {
        color: var(--md-sys-color-on-surface-variant);
    }
}

.trailing_icon {
    position: absolute;

    top: 0;
    right: 1rem;

    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    pointer-events: none; /* allows clicking input */
}

.trailing_icon_style {
    color: var(--md-sys-color-on-surface-variant);
}

.leading_icon {
    position: absolute;

    top: 0;
    left: 1rem;

    height: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.leading_icon_style {
    color: var(--md-sys-color-on-surface);

    outline: none;
    border: none;

    background-color: inherit;
    padding: 0;
}

.docked_container {
}

.break_line {
    border-bottom: 1px solid var(--md-sys-color-secondary);
}

.search_list_item {
    display: block;

    width: 100%;

    background-color: inherit;
    border: none;

    padding: 0.75rem 1rem;

    text-align: start;

    font-family: inherit;

    &:hover {
        background-color: var(--md-sys-color-surface-container-low);
    }
}

.has_last_list_element {
    &:last-of-type {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.navigation_rail {
    padding: 0 1.25rem;
}

.navigation_item {
    display: flex;
    height: 3.5rem;

    width: 100%;

    background-color: inherit;
    border: none;
    padding: 0 1rem;

    align-items: center;

    font-family: inherit;

    gap: 0.75rem;

    border-radius: 2rem;
}

.active_navigation_item {
    background-color: var(--md-palette-secondary-90);
}

.navigation_item_icon {
    font-size: 1.5rem;
    color: var(--md-palette-neutral-30);
}

.navigation_item_text {
    display: block;
    font-size: var(--md-sys-typescale-body-medium-size);
    color: var(--md-palette-neutral-30);
}

.desktop_nav_rail_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--md-sys-color-on-surface-variant);
}

.link {
    padding: 0.1rem 0;
    text-decoration: none;

    &:hover {
        .desktop_nav_icon {
            border-radius: 20px;
            background-color: rgb(from var(--md-sys-color-on-secondary-container) r g b / 8%);
        }
    }
}

.active_link {
    .desktop_nav_icon {
        border-radius: 20px;
        background-color: var(--md-sys-color-secondary-container);
    }
}

.desktop_nav_icon {
    display: block;
    padding: 0.3rem 1rem;

    color: var(--md-sys-color-on-surface-variant);
}

.simple_menu_wrapper {
    display: flex;
    align-items: center;
}

.simple_menu_icon {
    height: 56px;
    width: 56px;
    border: none;
    background-color: inherit;
}

@keyframes expand-rect {
    0% {
        clip-path: rect(1rem calc(100% - 0.5rem - 0.5rem - 56px) 4.5rem calc(0.5rem + 0.5rem + 56px) round 20px);
    }
    100% {
        clip-path: inset(0% 0% 0% 0% round 0px);
    }
}
