@layer components {
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 0.5rem;
        border: none;
        background-color: var(--md-sys-color-secondary-container);
        border-radius: 50%;
    }

    .icon {
        font-size: 1.5rem;
    }
}
