/*@import "tailwindcss";*/

/*@plugin 'tailwindcss-animate';*/

/*@custom-variant dark (&:is(.dark *));*/

@layer reset, theme, base, components, utilities;

@layer reset {
    :root {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;

        line-height: 1.5;
        font-weight: 400;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-weight: inherit;
        margin-top: 0;
        margin-bottom: 0;
    }

    /*button {*/
    /*    border: none;*/
    /*}*/

    @font-face {
        font-family: Outfit;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/outfit.woff2") format("woff2");
        unicode-range:
            U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
            U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: Outfit;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("/fonts/outfit-ext.woff2") format("woff2");
        unicode-range:
            U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
            U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: PlaypenSans;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/playpen-sans.woff2") format("woff2");
        unicode-range:
            U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
            U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: PlaypenSans;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/playpen-sans-ext.woff2") format("woff2");
        unicode-range:
            U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
            U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* BOX SIZING FIX */
    :root {
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

/* Source colors */
/* #7A944D - olive */
/* #0ECAA2 - green with cyan */
/* #6D9B7B - curtain green (current) */

@layer theme {
    :root {
        /*color-scheme: light dark;*/
        color-scheme: light;
    }

    :root {
        /*--background: 0 0% 100%;*/
        /*--foreground: 240 10% 3.9%;*/
        /*--card: 0 0% 100%;*/
        /*--card-foreground: 240 10% 3.9%;*/
        /*--popover: 0 0% 100%;*/
        /*--popover-foreground: 240 10% 3.9%;*/
        /*--primary: 195 91% 34%;*/
        /*--primary-foreground: 0 0% 98%;*/
        /*--secondary: 240 4.8% 95.9%;*/
        /*--secondary-foreground: 240 5.9% 10%;*/
        /*--muted: 240 4.8% 95.9%;*/
        /*--muted-foreground: 240 3.8% 46.1%;*/
        /*--accent: 240 4.8% 95.9%;*/
        /*--accent-foreground: 240 5.9% 10%;*/
        /*--destructive: 0 84.2% 60.2%;*/
        /*--destructive-foreground: 0 0% 98%;*/
        /*--border: 240 5.9% 90%;*/
        /*--input: 240 5.9% 90%;*/
        /*--ring: 195 91% 34%;*/
        /*--chart-1: 12 76% 61%;*/
        /*--chart-2: 173 58% 39%;*/
        /*--chart-3: 197 37% 24%;*/
        /*--chart-4: 43 74% 66%;*/
        /*--chart-5: 27 87% 67%;*/
        /*--radius: 0.5rem;*/
        /*--background-darker: 220 14% 96%;*/
        /*--highlight: 195 91% 34%;*/
        /*--highlight-background: 199 100% 95%;*/

        /* Material Design Scheme */
        --md-sys-color-primary: light-dark(rgb(44 106 70), rgb(148 213 168));
        --md-sys-color-surface-tint: light-dark(rgb(44 106 70), rgb(148 213 168));
        --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(0 57 30));
        --md-sys-color-primary-container: light-dark(rgb(176 241 195), rgb(14 81 47));
        --md-sys-color-on-primary-container: light-dark(rgb(14 81 47), rgb(176 241 195));

        --md-sys-color-secondary: light-dark(rgb(79 99 84), rgb(182 204 185));
        --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(33 53 39));
        --md-sys-color-secondary-container: light-dark(rgb(209 232 213), rgb(55 75 61));
        --md-sys-color-on-secondary-container: light-dark(rgb(55 75 61), rgb(209 232 213));

        --md-sys-color-tertiary: light-dark(rgb(59 100 112), rgb(163 205 219));
        --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(2 54 64));
        --md-sys-color-tertiary-container: light-dark(rgb(190 234 247), rgb(33 76 87));
        --md-sys-color-on-tertiary-container: light-dark(rgb(33 76 87), rgb(190 234 247));

        --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
        --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
        --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
        --md-sys-color-on-error-container: light-dark(rgb(147 0 10), rgb(255 218 214));

        --md-sys-color-background: light-dark(rgb(246 251 243), rgb(15 21 17));
        --md-sys-color-on-background: light-dark(rgb(24 29 25), rgb(223 228 221));

        --md-sys-color-surface: light-dark(rgb(246 251 243), rgb(15 21 17));
        --md-sys-color-on-surface: light-dark(rgb(24 29 25), rgb(223 228 221));

        --md-sys-color-surface-variant: light-dark(rgb(220 229 219), rgb(65 73 66));
        --md-sys-color-on-surface-variant: light-dark(rgb(65 73 66), rgb(192 201 192));

        --md-sys-color-outline: light-dark(rgb(113 121 113), rgb(138 147 139));
        --md-sys-color-outline-variant: light-dark(rgb(192 201 192), rgb(65 73 66));

        --md-sys-color-shadow: light-dark(rgb(0 0 0), rgb(0 0 0));
        --md-sys-color-scrim: light-dark(rgb(0 0 0), rgb(0 0 0));

        --md-sys-color-inverse-surface: light-dark(rgb(44 50 45), rgb(223 228 221));
        --md-sys-color-inverse-on-surface: light-dark(rgb(237 242 235), rgb(44 50 45));
        --md-sys-color-inverse-primary: light-dark(rgb(148 213 168), rgb(44 106 70));

        --md-sys-color-primary-fixed: light-dark(rgb(176 241 195), rgb(176 241 195));
        --md-sys-color-on-primary-fixed: light-dark(rgb(0 33 15), rgb(0 33 15));
        --md-sys-color-primary-fixed-dim: light-dark(rgb(148 213 168), rgb(148 213 168));
        --md-sys-color-on-primary-fixed-variant: light-dark(rgb(14 81 47), rgb(14 81 47));

        --md-sys-color-secondary-fixed: light-dark(rgb(209 232 213), rgb(209 232 213));
        --md-sys-color-on-secondary-fixed: light-dark(rgb(12 31 19), rgb(12 31 19));
        --md-sys-color-secondary-fixed-dim: light-dark(rgb(182 204 185), rgb(182 204 185));
        --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(55 75 61), rgb(55 75 61));

        --md-sys-color-tertiary-fixed: light-dark(rgb(190 234 247), rgb(190 234 247));
        --md-sys-color-on-tertiary-fixed: light-dark(rgb(0 31 38), rgb(0 31 38));
        --md-sys-color-tertiary-fixed-dim: light-dark(rgb(163 205 219), rgb(163 205 219));
        --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(33 76 87), rgb(33 76 87));

        --md-sys-color-surface-dim: light-dark(rgb(214 219 212), rgb(15 21 17));
        --md-sys-color-surface-bright: light-dark(rgb(246 251 243), rgb(53 59 54));
        --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(10 15 12));
        --md-sys-color-surface-container-low: light-dark(rgb(240 245 238), rgb(24 29 25));
        --md-sys-color-surface-container: light-dark(rgb(234 239 232), rgb(28 33 29));
        --md-sys-color-surface-container-high: light-dark(rgb(229 234 226), rgb(38 43 39));
        --md-sys-color-surface-container-highest: light-dark(rgb(223 228 221), rgb(49 54 49));

        --md-palette-primary-0: #000000;
        --md-palette-primary-5: #001508;
        --md-palette-primary-10: #00210f;
        --md-palette-primary-15: #002d16;
        --md-palette-primary-20: #083820;
        --md-palette-primary-25: #17432a;
        --md-palette-primary-30: #234f35;
        --md-palette-primary-35: #2f5b40;
        --md-palette-primary-40: #3b684b;
        --md-palette-primary-50: #548162;
        --md-palette-primary-60: #6d9b7b;
        --md-palette-primary-70: #87b694;
        --md-palette-primary-80: #a2d2af;
        --md-palette-primary-90: #bdeeca;
        --md-palette-primary-95: #cbfdd8;
        --md-palette-primary-98: #e9ffec;
        --md-palette-primary-99: #f5fff4;
        --md-palette-primary-100: #ffffff;

        --md-palette-secondary-0: #000000;
        --md-palette-secondary-5: #0a130d;
        --md-palette-secondary-10: #141e17;
        --md-palette-secondary-15: #1e2821;
        --md-palette-secondary-20: #29332b;
        --md-palette-secondary-25: #343e36;
        --md-palette-secondary-30: #3f4941;
        --md-palette-secondary-35: #4b554c;
        --md-palette-secondary-40: #566158;
        --md-palette-secondary-50: #6f7a70;
        --md-palette-secondary-60: #899389;
        --md-palette-secondary-70: #a3aea4;
        --md-palette-secondary-80: #bec9be;
        --md-palette-secondary-90: #dae5da;
        --md-palette-secondary-95: #e9f4e8;
        --md-palette-secondary-98: #f1fcf1;
        --md-palette-secondary-99: #f5fff4;
        --md-palette-secondary-100: #ffffff;

        --md-palette-tertiary-0: #000000;
        --md-palette-tertiary-5: #011319;
        --md-palette-tertiary-10: #0a1e24;
        --md-palette-tertiary-15: #15292e;
        --md-palette-tertiary-20: #203339;
        --md-palette-tertiary-25: #2b3e44;
        --md-palette-tertiary-30: #364a50;
        --md-palette-tertiary-35: #42565c;
        --md-palette-tertiary-40: #4e6268;
        --md-palette-tertiary-50: #667a81;
        --md-palette-tertiary-60: #80949b;
        --md-palette-tertiary-70: #9aafb6;
        --md-palette-tertiary-80: #b5cad1;
        --md-palette-tertiary-90: #d1e6ed;
        --md-palette-tertiary-95: #dff4fc;
        --md-palette-tertiary-98: #f1fbff;
        --md-palette-tertiary-99: #f8fdff;
        --md-palette-tertiary-100: #ffffff;

        --md-palette-neutral-0: #000000;
        --md-palette-neutral-5: #101110;
        --md-palette-neutral-10: #1a1c1a;
        --md-palette-neutral-15: #252624;
        --md-palette-neutral-20: #2f312f;
        --md-palette-neutral-25: #3b3c3a;
        --md-palette-neutral-30: #464745;
        --md-palette-neutral-35: #525351;
        --md-palette-neutral-40: #5e5f5c;
        --md-palette-neutral-50: #777775;
        --md-palette-neutral-60: #91918e;
        --md-palette-neutral-70: #ababa9;
        --md-palette-neutral-80: #c7c6c4;
        --md-palette-neutral-90: #e3e2df;
        --md-palette-neutral-95: #f2f1ed;
        --md-palette-neutral-98: #faf9f6;
        --md-palette-neutral-99: #fdfcf9;
        --md-palette-neutral-100: #ffffff;

        --md-palette-neutral-variant-0: #000000;
        --md-palette-neutral-variant-5: #0e120f;
        --md-palette-neutral-variant-10: #191d19;
        --md-palette-neutral-variant-15: #232723;
        --md-palette-neutral-variant-20: #2d312e;
        --md-palette-neutral-variant-25: #383c39;
        --md-palette-neutral-variant-30: #444844;
        --md-palette-neutral-variant-35: #50534f;
        --md-palette-neutral-variant-40: #5c5f5b;
        --md-palette-neutral-variant-50: #747873;
        --md-palette-neutral-variant-60: #8e928d;
        --md-palette-neutral-variant-70: #a9aca7;
        --md-palette-neutral-variant-80: #c4c7c2;
        --md-palette-neutral-variant-90: #e0e3de;
        --md-palette-neutral-variant-95: #eff2ec;
        --md-palette-neutral-variant-98: #f7faf4;
        --md-palette-neutral-variant-99: #fafdf7;
        --md-palette-neutral-variant-100: #ffffff;

        /* Typography */
        --md-sys-typescale-headline-large-size: 2rem; /* 32px */
        --md-sys-typescale-headline-medium-size: 1.75rem; /* 28px */
        --md-sys-typescale-headline-small-size: 1.5rem; /* 24px */

        --md-sys-typescale-title-large-size: 1.375rem; /* 22px */
        --md-sys-typescale-title-medium-size: 1rem; /* 16px */
        --md-sys-typescale-title-small-size: 0.875rem; /* 14px */

        --md-sys-typescale-body-large-size: 1rem; /* 16px */
        --md-sys-typescale-body-medium-size: 0.875rem; /* 14px */
        --md-sys-typescale-body-small-size: 0.75rem; /* 12px */

        --md-sys-typescale-body-large-weight: 400;

        --md-sys-elevation-level3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    /* ALSO FIXES UNSTYLED CONTENT FLASH WHEN DARK MODE */
    body {
        background-color: var(--md-sys-color-surface);
        color: var(--md-sys-color-on-background);
    }

    input {
        accent-color: var(--md-sys-color-primary);
    }
}

@layer base {
    /* SET 100% HEIGHT FOR BASE ELEMENTS */
    html,
    body,
    #root {
        height: 100%;
    }
}

/*!* TAILWIND VARIABLES *!*/
/*@theme {*/
/*    --radius-lg: var(--radius);*/
/*    --radius-md: calc(var(--radius) - 2px);*/
/*    --radius-sm: calc(var(--radius) - 4px);*/

/*    --color-background: hsl(var(--background));*/
/*    --color-background-darker: hsl(var(--background-darker));*/

/*    --color-foreground: hsl(var(--foreground));*/

/*    --color-card: hsl(var(--card));*/
/*    --color-card-foreground: hsl(var(--card-foreground));*/

/*    --color-popover: hsl(var(--popover));*/
/*    --color-popover-foreground: hsl(var(--popover-foreground));*/

/*    --color-primary: hsl(var(--primary));*/
/*    --color-primary-foreground: hsl(var(--primary-foreground));*/

/*    --color-secondary: hsl(var(--secondary));*/
/*    --color-secondary-foreground: hsl(var(--secondary-foreground));*/

/*    --color-muted: hsl(var(--muted));*/
/*    --color-muted-foreground: hsl(var(--muted-foreground));*/

/*    --color-accent: hsl(var(--accent));*/
/*    --color-accent-foreground: hsl(var(--accent-foreground));*/

/*    --color-destructive: hsl(var(--destructive));*/
/*    --color-destructive-foreground: hsl(var(--destructive-foreground));*/

/*    --color-border: hsl(var(--border));*/
/*    --color-input: hsl(var(--input));*/
/*    --color-ring: hsl(var(--ring));*/

/*    --color-chart-1: hsl(var(--chart-1));*/
/*    --color-chart-2: hsl(var(--chart-2));*/
/*    --color-chart-3: hsl(var(--chart-3));*/
/*    --color-chart-4: hsl(var(--chart-4));*/
/*    --color-chart-5: hsl(var(--chart-5));*/

/*    --color-highlight: hsl(var(--highlight));*/
/*    --color-highlight-background: hsl(var(--highlight-background));*/
/*}*/
