.imagesThumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
    gap: 1rem;
    justify-content: center;
    padding: 3rem 1.5rem;
}

.thumbnailButton {
    font-family: inherit;

    background-color: var(--md-sys-color-surface-container);
    border: none;
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
    border-radius: 12px;
}

.figure {
    font-family: inherit;

    display: flex;
    flex-direction: column;
    margin: 0;
}

.thumbImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.figcaption {
    /* related to thumbnailButton padding */
    font-family: inherit;
    margin-top: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

.dialog {
    background-color: var(--md-sys-color-surface);

    border: none;
    border-radius: 12px;

    padding: 0;
    height: 100%;
    width: 100%;
    margin: auto;

    &::backdrop {
        background-color: var(--md-sys-color-scrim);
        backdrop-filter: blur(2px);
    }
}

.inspectedImg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inspectionTitle {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 16px;
    background-color: var(--md-sys-color-secondary-container);
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.arrowLeft {
    left: 20px;
}

.arrowRight {
    right: 20px;
}

.downloadButton {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
