.imagesThumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
    gap: 1rem;
    justify-content: center;
    padding: 3rem 1.5rem;
}

.thumbnailButton {
    font-family: inherit;

    background-color: var(--md-sys-color-surface-container);
    border: none;
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
    border-radius: 12px;
}

.figure {
    font-family: inherit;

    display: flex;
    flex-direction: column;
    margin: 0;
}

.thumbImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.figcaption {
    /* related to thumbnailButton padding */
    font-family: inherit;
    margin-top: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

.dialog {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: auto;
}

.inspectedImg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inspectionTitle {
    position: absolute;
}

.closeButton {
    position: absolute;
}

.downloadButton {
    position: absolute;
}

.arrowButton {
    position: absolute;
}

/*
.inspectionTitle {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.375rem;
	color: #fff;
	z-index: 30;
}

.closeButton {
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 9999px;
	color: #fff;
	z-index: 30;
	border: none;
}

.arrowButton {
	cursor: pointer;
	position: absolute;
	top: 50%;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 9999px;
	transform: translateY(-50%);
	color: #fff;
	border: none;
	z-index: 30;
	user-select: none;
}

.arrowLeft {
	left: 20px;
}

.arrowRight {
	right: 20px;
}

.downloadButton {
	cursor: pointer;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.375rem;
	color: #fff;
	border: none;
	z-index: 30;
}
*/
