.imagesThumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 10rem));
    gap: 1rem;
    justify-content: center;
}

.thumbImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

/*.imagesThumbnails {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin: 1rem;
	grid-auto-rows: minmax(auto, 200px);
}

@media (min-width: 640px) {
	.imagesThumbnails {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 768px) {
	.imagesThumbnails {
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(auto, 250px);
	}
}

@media (min-width: 1024px) {
	.imagesThumbnails {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1280px) {
	.imagesThumbnails {
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: minmax(auto, 300px);
	}
}

@media (min-width: 1536px) {
	.imagesThumbnails {
		grid-template-columns: repeat(7, 1fr);
	}
}

.thumbnailButton {
	background: var(--background, #ffffff);
	border-radius: 0.375rem;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
	padding: 0;
	border: none;
}

.figure {
	display: flex;
	flex-direction: column;
	height: 100%;
	cursor: pointer;
	margin: 0;
}

.thumbImg {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.figcaption {
	text-align: center;
	padding: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.875rem;
}

.dialog {
	background: #27272a;
	backdrop-filter: none;
	background-color: rgba(39, 39, 42, 1);
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.inspectionTitle {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.375rem;
	color: #fff;
	z-index: 30;
}

.closeButton {
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 9999px;
	color: #fff;
	z-index: 30;
	border: none;
}

.arrowButton {
	cursor: pointer;
	position: absolute;
	top: 50%;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 9999px;
	transform: translateY(-50%);
	color: #fff;
	border: none;
	z-index: 30;
	user-select: none;
}

.arrowLeft {
	left: 20px;
}

.arrowRight {
	right: 20px;
}

.downloadButton {
	cursor: pointer;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.375rem;
	color: #fff;
	border: none;
	z-index: 30;
}

.inspectedImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}*/
