.main {
    height: 100%;
}

.tree {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--md-sys-color-surface-container-lowest);

    border-radius: 18px;
}

.tree_settings {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
}

.icon_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;

    border: none;
    border-radius: 100%;
}
