.main {
    height: 100%;
}

.tree {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: var(--md-sys-color-surface-container-lowest);

    border-radius: 18px;
}

.tree_settings {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
}

.icon_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;

    border: none;
    border-radius: 100%;
}

.dialog {
    height: 100%;
    width: 100%;
    max-height: none;
    max-width: none;
    margin: 0;
    border: none;
    padding: 0;
}

.dialog_header {
    display: flex;
    height: 4rem;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.dialog_content {
    padding: 0 1.5rem;
}

.dialog_close {
    background-color: inherit;
    border: none;
    font-size: 1.5rem;
    padding: 0;
}

.dialog_title {

}

.branches_group {
    padding: 0 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.branch {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.checkbox {
    margin: 0;
    width: 1rem;
    height: 1rem;
}