.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container .label {
    position: absolute;

    /* label can be clicked through */
    pointer-events: none;

    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    left: 1rem;
    line-height: 1;
}

.container .input {
    display: flex;
    padding: 24px 16px 8px;
    height: 60px;
    border-radius: 8px;

    border: 1px solid var(--md-sys-color-outline);
}

.input::placeholder {
    color: transparent;
}

/* when the input is focused, do this to the label */
.container:focus-within .label {
    transform: translate(0, 12px) scale(0.8);
    color: var(--md-sys-color-primary);
    font-weight: 500;
}

/* when the input has a value (no placeholder), do this */
.input:not(:placeholder-shown) + .label {
    transform: translate(0, 12px) scale(0.8);
}

.input:focus {
    outline-offset: -1px;
    outline: var(--md-sys-color-primary) solid 2px;
}