localhost {
    tls internal

    handle /api/* {
        reverse_proxy heritage_api:8080
    }

    encode zstd gzip

    root * /srv

    # ---------------------------------------- #

    @static path /assets/*
    @favicon path /icon.svg

    header ?Cache-Control "no-cache, must-revalidate"
    header @static Cache-Control "private, max-age=5184000, immutable"
    header @favicon Cache-Control "private, max-age=5184000, must-revalidate"

    # ---------------------------------------- #

    handle {
        try_files {path} /index.html
        file_server
    }
}