.view {
    height: 100%;
    background-color: var(--md-sys-color-surface-container-lowest);
}

.tabs_wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.basic_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;

    margin-inline: auto;

    max-width: 40rem;
}

.tabs_scroller {
    overflow-x: auto;
}

.tabs {
    display: flex;
    border-bottom: 1px solid var(--md-sys-color-surface-variant); /* use divider instead */
    background-color: var(--md-sys-color-surface);

    [aria-selected="true"] {
        border-bottom: 2px solid var(--md-sys-color-primary);
    }
}

.tab {
    padding: 0;
    flex-grow: 1;
    background-color: inherit;
    border: none;
    /* prevents layout shift */
    border-bottom: 2px solid transparent;
    font-family: inherit;
    height: 3rem;
    font-size: var(--md-sys-typescale-title-small-size);
}

.title {
    font-size: var(--md-sys-typescale-headline-medium-size);
    text-align: center;
    margin: 0.75rem 0;
}

.content {
    width: 100%;
    background-color: var(--md-sys-color-surface-container-low);
    padding: 0.5rem 1rem;
    border-radius: 16px;
}

.person_name {
    font-size: var(--md-sys-typescale-title-large-size);
    text-align: center;
}

.person_dates {
    font-size: var(--md-sys-typescale-title-medium-size);
    text-align: center;
}

.family {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.open_new_icon {
    padding: 0.5rem;
    background-color: var(--md-sys-color-surface-container-lowest);
    border-radius: 8px;
    color: black;
}

.family_name {
    font-size: var(--md-sys-typescale-title-large-size);
}

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    max-width: 20rem;
    margin-inline: auto;
}

.list_element {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--md-sys-color-surface-container-low);
    padding: 0.5rem 1rem;

    &:first-of-type {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    &:last-of-type {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.grow {
    flex-grow: 1;
}

.no_content {
    padding: 1rem;
    text-align: center;
}
