.inputWrapper {
    position: relative;
}

.input {
    font-family: inherit;
    background-color: inherit;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: var(--md-sys-color-outline);
    outline: none;

    transition: all 0.15s;
}
/* Read about: focus vs focus-visible */
.input:focus {
    border-width: 2px;
    border-color: var(--md-sys-color-primary);
}

.label {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: .2s;
    pointer-events: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    background-color: inherit;
    top: 0;
    left: 5px;
    font-size: 14px;
    padding: 0 5px;
}

.input::placeholder {
    opacity: 0;
}

/*.input-field {*/
/*    !*padding: 1rem;*!*/
/*    !*color: #FFF;*!*/
/*    !*border: 2px solid rgba(255, 255, 255, 0.17);*!*/
/*    !*transition: all 0.15s;*!*/
/*    background-color: transparent;*/
/*    !*outline: none;*!*/
/*    width: 100%;*/
/*}*/

/*.input-field:focus-visible {*/
/*    border-color: #6366f1;*/
/*}*/

/* Issues to resolve */
/* Center vertically the text better */
/* Background of floating text */