.about_me {
    background-color: var(--md-sys-color-surface-container-lowest);
    height: 100%;
    /* ToDo: desktop vs mobile */
    border-radius: 24px;
}

.title {
    font-size: var(--md-sys-typescale-headline-large-size);

    padding: 1.5rem 0 1.5rem 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    max-width: 60rem;
}
