/*.login_page_wrapper {*/
/*}*/

/*.login_form_wrapper {*/
/*    !*flex flex-col gap-5 items-center px-6 py-8 bg-background rounded-3xl*!*/
/*}*/

@media (width >= 40rem /* 640px */) {
    .login_page_wrapper {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .login_form_wrapper {
            background-color: var(--md-sys-color-surface-container-lowest);

            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            padding: 2rem 3rem;

            border-radius: var(--border-radius);

            .no_access_wrapper {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .lock {
                    display: inline;
                    font-size: 100px;
                    font-weight: 300;
                    text-align: center;
                }

                .no_access_main_text {
                    font-size: var(--text-lg);
                }

                .no_access_subtext {
                    /*text-sm text-muted-foreground*/
                }
            }

            .login_actions {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .login_button {
                    align-self: end;
                }
                /*margin-top: 2rem;*/
            }
        }
    }
}

.logo {
    margin-bottom: 1rem;
}