.container {

}

.label {
    display: block;

    font-size: var(--md-sys-typescale-body-small-size);
}

.input {
    display: block;

    font-family: inherit;

    height: 2.75rem;
    padding: 0.5rem 1rem;

    border-width: 1px;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: var(--md-sys-color-outline);
}

.input:focus {
    outline-offset: -1px;
    outline: var(--md-sys-color-primary) solid 2px;
}
