.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    inset: 0;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}