.page {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100dvh;
}

.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
