name: Automatic deployment on VPS

on:
  push:
    branches:
      - main

jobs:
  build-and-push-image:
    name: build and push images

    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
      - name: check out the repo
        uses: actions/checkout@de0fac2

      - name: log in to the Container registry
        uses: docker/login-action@5e57cd1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: extract metadata (tags, labels) for rest-api Docker image
        id: meta_rest-api
        uses: docker/metadata-action@c299e40
        with:
          images: |
            ghcr.io/${{ github.repository }}/api

      - name: build and push rest-api Docker image
        uses: docker/build-push-action@2634353
        with:
          context: ./api
          file: ./api/docker/prod.Dockerfile
          push: true
          tags: ${{ steps.meta_rest-api.outputs.tags }}
          labels: ${{ steps.meta_rest-api.outputs.labels }}

      - name: extract metadata (tags, labels) for server Docker image
        id: meta_server
        uses: docker/metadata-action@c299e40
        with:
          images: |
            ghcr.io/${{ github.repository }}/server

      - name: build and push server Docker image
        uses: docker/build-push-action@2634353
        with:
          context: ./react
          file: ./react/docker/prod.Dockerfile
          push: true
          tags: ${{ steps.meta_server.outputs.tags }}
          labels: ${{ steps.meta_server.outputs.labels }}
          build-args: |
            "VITE_API_URL=${{ secrets.API_URL }}"

  deploy:
    name: deploy new images on VPS

    runs-on: ubuntu-latest

    needs: build-and-push-image

    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@823bd89
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          passphrase: ${{ secrets.PRIVATE_KEY_PASSPHRASE }}
          script: |
            cd app/heritage
            docker compose stop
            docker compose rm -f
            docker compose pull
            docker compose up -d
